<div class="down-player-track">

    <img id="down-player-cover" class="down-player-cover" src="">

    <div id="down-player-info" class="down-player-track-info">
        <div class="down-player-track-name"></div>
        <div class="down-player-track-artist"></div>
    </div>

</div>

<div class="down-player-center">

    <div class="down-player-controls">

        <button class="down-player-btn">
            <img src="/images/play.svg">
        </button>

        <button id="close-down-player" class="down-player-btn">
            <img src="/images/x.svg">
        </button>

    </div>

</div>