.more-artist-albums-page-header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.more-artist-albums-page-artist-name {
    display: flex;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
}

.more-artist-albums-page-albums {
    padding-left: 75px;
    margin-top: 100px;
}